*:not(stackswitcher)>button.flat:not(.radio):not(.link),
*:not(stackswitcher)>button.text-button:not(.link),
*:not(.linked)>button.combo,
spinbutton,
*:not(combobox)~entry {
    border-radius: 9px;
}

button {
    outline: none;
}

button > image {
    padding: 0;
    margin: 0;
}

.linked:not(.vertical) > combobox > box > button.combo, filechooser .path-bar.linked > button, .xfce4-panel.background button menu .linked button, headerbar .linked.raised button:not(:only-child), headerbar .linked button:not(:only-child), headerbar > .stack-switcher.linked > button:not(:only-child), .titlebar .linked.raised button:not(:only-child), .titlebar .linked button:not(:only-child), .titlebar > .stack-switcher.linked > button:not(:only-child), .linked:not(.vertical) > spinbutton:not(.vertical), .linked:not(.vertical) > entry, .inline-toolbar button, .linked > button, toolbar.inline-toolbar toolbutton > button.flat {
    border-left-color: alpha(currentColor,0.15); border-right-color: alpha(currentColor,0.15); border-right-style: none; border-radius: 0; -gtk-outline-radius: 0;
}
.linked:not(.vertical) > combobox:first-child > box > button.combo, combobox.linked button:nth-child(2):dir(rtl), filechooser .path-bar.linked > button:dir(rtl):last-child, filechooser .path-bar.linked > button:dir(ltr):first-child, .xfce4-panel.background button menu .linked button:first-child, headerbar .linked button:first-child:not(:only-child), .titlebar .linked button:first-child:not(:only-child), .linked:not(.vertical) > spinbutton:first-child:not(.vertical), .linked:not(.vertical) > entry:first-child, .inline-toolbar button:first-child, .linked > button:first-child, toolbar.inline-toolbar toolbutton:first-child > button.flat {
    border-left-color: transparent; border-top-left-radius: 9px; border-bottom-left-radius: 9px; -gtk-outline-top-left-radius: 9px; -gtk-outline-bottom-left-radius: 9px;
}
.linked:not(.vertical) > combobox:first-child > box > button.combo:not(button):focus, combobox.linked button:not(button):focus:nth-child(2):dir(rtl), filechooser .path-bar.linked > button:not(button):focus:dir(rtl):last-child, filechooser .path-bar.linked > button:not(button):focus:dir(ltr):first-child, .xfce4-panel.background button menu .linked button:not(button):focus:first-child, headerbar .linked button:not(button):focus:first-child:not(:only-child), .titlebar .linked button:not(button):focus:first-child:not(:only-child), .linked:not(.vertical) > spinbutton:not(button):focus:first-child:not(.vertical), .linked:not(.vertical) > entry:not(button):focus:first-child, .inline-toolbar button:not(button):focus:first-child, .linked > button:not(button):focus:first-child, toolbar.inline-toolbar toolbutton:first-child > button.flat:not(button):focus {
    border-left-color: alpha(@accent_color,0.5);
}
.linked:not(.vertical) > combobox:last-child > box > button.combo, combobox.linked button:nth-child(2):dir(ltr), filechooser .path-bar.linked > button:dir(rtl):first-child, filechooser .path-bar.linked > button:dir(ltr):last-child, .xfce4-panel.background button menu .linked button:last-child, headerbar .linked button:last-child:not(:only-child), .titlebar .linked button:last-child:not(:only-child), .linked:not(.vertical) > spinbutton:last-child:not(.vertical), .linked:not(.vertical) > entry:last-child, .inline-toolbar button:last-child, .linked > button:last-child, toolbar.inline-toolbar toolbutton:last-child > button.flat {
    border-right-color: transparent; border-right-style: solid; border-top-right-radius: 9px; border-bottom-right-radius: 9px; -gtk-outline-top-right-radius: 9px; -gtk-outline-bottom-right-radius: 9px;
}
.linked:not(.vertical) > combobox:last-child > box > button.combo:not(button):focus, combobox.linked button:not(button):focus:nth-child(2):dir(ltr), filechooser .path-bar.linked > button:not(button):focus:dir(rtl):first-child, filechooser .path-bar.linked > button:not(button):focus:dir(ltr):last-child, .xfce4-panel.background button menu .linked button:not(button):focus:last-child, headerbar .linked button:not(button):focus:last-child:not(:only-child), .titlebar .linked button:not(button):focus:last-child:not(:only-child), .linked:not(.vertical) > spinbutton:not(button):focus:last-child:not(.vertical), .linked:not(.vertical) > entry:not(button):focus:last-child, .inline-toolbar button:not(button):focus:last-child, .linked > button:not(button):focus:last-child, toolbar.inline-toolbar toolbutton:last-child > button.flat:not(button):focus {
    border-right-color: alpha(@accent_color,0.5);
}
.linked:not(.vertical) > combobox:only-child > box > button.combo, filechooser .path-bar.linked > button:only-child, .xfce4-panel.background button menu .linked button:only-child, headerbar .linked button:only-child:not(:only-child), .titlebar .linked button:only-child:not(:only-child), .linked:not(.vertical) > spinbutton:only-child:not(.vertical), .linked:not(.vertical) > entry:only-child, .inline-toolbar button:only-child, .linked > button:only-child, toolbar.inline-toolbar toolbutton:only-child > button.flat {
    border-style: solid; border-radius: 9px; -gtk-outline-radius: 9px;
}


.gimp-internal-dock-2 button.flat.radio {
    min-height: 24px;
    min-width: 20px;
    border-radius: 100%;
}

button.text-button {
    min-height: 34px;
    padding: 0px 8px;
}

combobox button.combo {
    min-height: 34px;
    padding: 0 6px;
}
GimpDisplayShell combobox button.combo {
    min-height: 24px;
    padding: 0 6px;
}

combobox box.horizontal.linked button {
    border-radius: 9px;
}

combobox box.horizontal.linked entry+button {
    border-radius: 0 9px 9px 0;
}

combobox+boxbutton {
    min-width: 30px
}

spinbutton {
    min-height: 34px;
}

spinbutton button {
    min-width: 34px;
    padding: 0;
}

/*
*:not(headerbar)>stackswitcher {
    border-radius: 9px;
    background-color: rgb(44, 47, 47);
    padding: 3px 1px;
}

*:not(headerbar)>stackswitcher button {
    border-radius: 6px;
    padding: 4px;
    background-color: transparent;
    border: none;
    margin: 0 1px;

}

*:not(headerbar)>stackswitcher button:checked,
*:not(headerbar)>stackswitcher button:hover {
    background-color: rgb(84, 87, 87);
}
*/

GimpDock box box notebook stack widget>box>box>button {
    min-height: 24px;
    min-width: 24px;
    margin: 0px 2px 0px 0px;
}

GimpDock box box notebook stack widget>box>box {
    padding: 0px 6px 6px 6px;
}

link,
button.link {
    transition: all 300ms ease;
    padding: 0 4px;
    min-height: 1rem;
    border-radius: 3px;
    box-shadow: 0 0 0 0px transparent;
}

link,
button.link label {
    color: @accent_fg_color;
    text-decoration-line: none;
}

link:hover,
button.link:hover,
button.link:focus {
    background: @accent_bg_color;
    box-shadow: 0 0 0 6px @accent_bg_color;
}

tabs {
    margin: 6px;
}

tabs tab {
    border-radius: 9px;
    min-height: 14px;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    transition: all 300ms ease-in-out;
    margin-right: 4px
}

tabs tab:checked,
tabs tab:hover {
    background-color: mix(#323233, #fafafb,0.85);
}

tabs arrow {
    margin: 6px;
    border-radius: 100%
}

tabs+button.flat {
    min-width: 1px;
    min-height: 1px;
    margin-top: 7px;
    margin-right: 7px;
    border-radius: 100%;
}

tab box button.flat {
    border-radius: 100px
}
