GimpColorScales+box entry+button {
	min-height: 34px;
	min-width: 34px;
	border-radius: 100%;
	padding: 0;
}

GimpColorScales+box+box>button {
	min-width: 24px;
	padding: 0;
}
GimpColorScales>box {
	margin-right: -6px;
	margin-bottom: 4px;
}
GimpColorScales>box>button {
	margin-right: 6px;
}
GimpColorScales>grid>grid {
	margin-bottom: 8px;
}
GimpColorScales>grid>radiobutton {
	margin-bottom: 8px;
	margin-left: 6px;
}

GimpColorHistory button {
	min-height: 24px;
	min-width: 24px;
	padding: 3px;
}

notebook {
	border: none;
}

GimpColorNotebook notebook stack,
GimpColorNotebook notebook header {
	background-color: @card_bg_color;
	border:none;
	outline: none;
	box-shadow:none;
}

GimpColorNotebook notebook header {
	padding: 2px;
	border-radius: 18px 18px 0 0;
}

GimpColorNotebook notebook stack {
	padding: 4px 12px 12px 12px;
	border-radius: 0 0 18px 18px;
}

ColorselWheel widget {
	outline: none
}

GimpColorSelection {
  margin-left: -6px;
}

GimpColorSelection scrolledwindow {
	background: none;
	background-color: transparent;
	min-height: 1rem;
}
GimpColorSelection>box>box>box {
	margin-top: 6px;
}
GimpColorSelection>box>box {
	margin-left: 6px;
}

GimpColorNotebook tabs {
	margin-top: 10px;
}
GimpColorNotebook tabs tab {
	min-height: 24px;
	margin-right: 0;
	margin-left: 6px;
}

ColorselCmyk {
	margin: 0 6px;
}
GimpColorSelect>grid>label {
	margin-top: 10px;
}
ColorselWater>label {
	margin-top: 10px;
}
ColorselWheel>label {
	margin-top: 10px;
}
GimpColorSelectorPalette>label {
	margin-top: 6px;
}
GimpColorHistory>button {
	margin-left: 3px;
	margin-bottom: 3px;
	padding: 4px;
}
