/*
window:not(.csd):not(.maximized):not(.tiled-left):not(.tiled-bottom):not(.tiled-right):not(.tiled-top):not(.tiled),
*:not(.maximized):not(.tiled-left):not(.tiled-bottom):not(.tiled-right):not(.tiled-top):not(.tiled) decoration {
	border-radius: 15px;
}

*:not(.maximized):not(.tiled-left):not(.tiled-bottom):not(.tiled-right):not(.tiled-top):not(.tiled) headerbar {
	border-radius: 15px 15px 0 0;
}

window.csd:not(.maximized):not(.tiled-left):not(.tiled-bottom):not(.tiled-right):not(.tiled-top):not(.tiled),
dialog:not(.maximized):not(.tiled-left):not(.tiled-bottom):not(.tiled-right):not(.tiled-top):not(.tiled),
GimpToolDialog:not(.maximized):not(.tiled-left):not(.tiled-bottom):not(.tiled-right):not(.tiled-top):not(.tiled),
window:not(.maximized):not(.tiled-left):not(.tiled-bottom):not(.tiled-right):not(.tiled-top):not(.tiled)>box>box>box>GimpDock stack
{
	border-radius: 0 0 15px 15px;
}

window:not(.maximized):not(.tiled-left):not(.tiled-bottom):not(.tiled-right):not(.tiled-top):not(.tiled) #gimp-internal-dock-1 stack {
	border-radius: 0 0 0 15px;
}

window:not(.maximized):not(.tiled-left):not(.tiled-bottom):not(.tiled-right):not(.tiled-top):not(.tiled) #gimp-internal-dock-2 stack {
	border-radius: 0 0 15px 0;
}*/

headerbar {
	background: none;
	background-color: @window_bg_color;
	/*background-color: rgba(46,46,50,255);*/
	border-bottom: 1px solid rgba(220,220,223,255);
}

menubar {
	min-height: 12px;
	padding: 6px 0px 0px 4px;
	/*background-color: rgba(46,46,50,255);*/
}

window>headerbar {
  min-height: 12px;
}

menubar>menuitem {
	min-height: 2px;
	border-radius: 9px;
	transition: all 300ms ease;
	margin-right: 6px;
	margin-bottom: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	/*background-color: rgba(46,46,50,255);*/
}

menubar>menuitem:hover {
	background-color: mix(#323233, #fafafb,0.85);
}

window headerbar>menubar {
  padding-left: 0px;
}
window box>box>paned>box{
  padding: 0px 6px;
  padding-left: 6px;
  padding-right: 3px;
  padding-top: 6px;
}

/*window>box>box>paned>notebook>header{
  padding: 0;
  margin: 0;
}*/
window>box>box>paned>paned>notebook>header>tabs {
  /*padding: 0;*/
  margin: 0;
}
window>box>box>paned>paned>notebook>header>tabs>tab {
  border-radius: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
}
window>box>box>paned>paned>notebook>header>tabs>tab>box>widget {
  border-radius: 4px;
}

GimpDock>box>box>toolpalette>toolitemgroup>toolbutton>button{
  margin-top: 7px;
}

GimpDisplayShell grid{
  padding-left: 6px;
  padding-right: 1px;
  padding-top: 6px;
}

GimpDisplayShell>grid>button{
  padding-left: 0px;
}

GimpDisplayShell grid > button {
  min-height: 0;
  min-width: 0;
  padding: 0 0 0 0;
  margin: 2px;
}

GimpDisplayShell{
  border-top: 1px solid rgb(220,220,223);
}

/*GimpDisplayShell>grid{
  margin-right: -5px;
}*/

GimpDisplayShell statusbar{
  padding-bottom: 12px;
  padding-top: 5px;
}
GimpDisplayShell statusbar>box>combobox{
  margin-right: 6px;
}
GimpDisplayShell statusbar>box>label{
  margin-left: 2px;
}
GimpDisplayShell statusbar>box>combobox>box>button{
  min-height: 0px;
}
GimpDisplayShell statusbar>box>combobox>box>entry{
  min-height: 0px;
}
GimpDisplayShell statusbar>box>button{
  min-height: 0px;
}

GimpRuler{
  color: #828282;
}
